.topbar{
	background-color: #2b3d42;
	padding: 0px !important;
	text-align: center;
	img{
		margin-left: -60px;
		padding-top: 5px;
		width: 55px;
	}
	a.button-collapse{
		color: #ffffff;
		float: left;
		padding: 20px 16px 12px;
		i{
			font-size: 2em;
		}
	}
}